n8n workflow/Check Availability.json
{
  "name": "Check Availability",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "afterTime"
            },
            {
              "name": "beforeTime"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8511a55a-c333-4a2a-a8d1-15788ae1c411",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "your-email@example.com",
          "mode": "list",
          "cachedResultName": "Your Calendar"
        },
        "returnAll": true,
        "timeMin": "={{ $json.afterTime }}",
        "timeMax": "={{ $json.beforeTime }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "8b1d9c49-7e3d-4f1e-aadf-a918bd9e0b7d",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "76162ee2-92f6-4f5c-9376-3381250f0c9c",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "daa8a0c4-365b-4171-8b70-758a7401b896",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1488c01b-d1e4-4c3c-81a9-7bf579287d71",
              "name": "message",
              "value": "the entire day is available",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        96
      ],
      "id": "87f38a04-885b-4895-9943-f459c9591b09",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "019c40d7-8c28-4881-a696-c26eab42ccd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae12a5a7e4fb42828a7592704ca767dac51556f7ef025082630ef59c0b0bda7a"
  },
  "id": "P86dAzaSmJftVpDoseLwT",
  "tags": [
    {
      "updatedAt": "2026-01-27T11:28:12.250Z",
      "createdAt": "2026-01-27T11:28:12.250Z",
      "id": "qgCzqdx7L0BmhNeK",
      "name": "Vapi MCP"
    }
  ]
}