n8n workflow/Lookup Appointment.json
{
  "name": "Lookup Appointment",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "afterTime"
            },
            {
              "name": "beforeTime"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "2a499406-bb76-44bf-8e8f-f84bd74d5116",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "your-email@example.com",
          "mode": "list",
          "cachedResultName": "Your Calendar"
        },
        "returnAll": true,
        "timeMin": "={{ $json.afterTime }}",
        "timeMax": "={{ $json.beforeTime }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "9c3913a4-911b-42e9-8d96-6160f334581c",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "08bbf7e5-2350-4e93-8595-8cf8399f4a4a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "b63f6ae8-b41b-4b3f-abec-9120c1395895",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "395d9e31-007a-4bc9-a306-223dd54bc00b",
              "name": "found",
              "value": "false",
              "type": "string"
            },
            {
              "id": "f642eb7e-7072-4407-8889-5d2818ed339a",
              "name": "message",
              "value": "No appointments in that range",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        96
      ],
      "id": "3b34ef98-b259-4752-becf-e7271eaa5201",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -112
      ],
      "id": "eed5e647-530e-4a22-8ef1-5ccf832617b8",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4bd775ad-aacb-4b99-8c10-d285a892c576",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae12a5a7e4fb42828a7592704ca767dac51556f7ef025082630ef59c0b0bda7a"
  },
  "id": "iuLU23mcFZF0XG2qHMg1m",
  "tags": [
    {
      "updatedAt": "2026-01-27T11:28:12.250Z",
      "createdAt": "2026-01-27T11:28:12.250Z",
      "id": "qgCzqdx7L0BmhNeK",
      "name": "Vapi MCP"
    }
  ]
}